torch>=2.3.0
torchvision>=0.18.0
gradio>=4.26.0
opencv-python>=4.9.0.80
numpy>=1.26.4
onnx
onnxruntime
pycocotools
PyYAML
scipy
onnxslim
onnxruntime-gpu
psutil
py-cpuinfo
huggingface-hub
safetensors
decord
scikit-learn
matplotlib